@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url(navigation.css);
@import url(CenterRight.css);
@import url(centerLeft.css);
@import url(PopUpWindow.css);
@import url(querys.css);

:root {
    /* primery */
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    /* scondry */
    --Very-vark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    /*       --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%);*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.center-main-continner {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}