@media (max-width:1040px) {

    section {
        margin-top: 20px;
    }

    .center-main-continner {
        margin: 0 !important;
        width: 100% !important;
        justify-content: space-around !important;
    }

    .main-product-img-div {
        width: fit-content;
    }

    .main-img {
        width: 300px !important;
    }
}






@media (max-width:785px) {
    .main-product-img-div {
        width: fit-content;
    }

    .detils-of-product-div {
        width: 300px;
    }

    .add-to-cart {

        padding: 0 50px !important;
    }
}




@media (max-width:500px) {

    .center-main-continner {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
    }

    .main-img {
        width: 100% !important;
        border-radius: 15px;
    }

    .image {
        width: 20% !important;
    }

    .main-product-img-div {
        margin: 50px 0;
        width: 100% !important;
    }

    .detils-of-product-div {
        width: 100% !important;
    }

    .nav-buttons-list {
        display: none !important;
    }

    .footer-div {
        flex-direction: column;
    }

    .footer-div .left-div {
        height: 75px;
    }

    .add-to-cart {
        height: 75px;
        margin: 20px 0;
        font-size: 18px;
        font-weight: 700;
        padding: 0 !important;
    }

    .nav-content {
        height: 100px;
    }

    .logo {
        width: 100px;
        margin: 0 !important;
    }

    .user-img {
        width: 40px;
    }

    .Hidden-nav-btns {
        font-size: 25px;
        display: block !important;

    }

    .Hidden-nav-btns:active {
        opacity: 0.5;
    }

    .nav-left-div {
        width: 150px;
    }



    .hidden-nav-buttons-list {
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: relative;
    }

    .hidden-nav-buttons-list * {
        margin: 10px 0;
    }

    .hidden-nav-buttons-list a {
        color: white !important;
    }
}