@media (max-width:1040px) {

    section {
        margin-top: 10px;
    }

    .center-main-continner {
        margin: 0 !important;
        width: 100% !important;
        justify-content: space-around !important;
    }

    .main-product-img-div {
        width: fit-content;
    }

    .main-img {
        width: 300px !important;
    }
}






@media (max-width:785px) {
    .main-product-img-div {
        width: fit-content;
    }

    .detils-of-product-div {
        width: 300px;
    }

    .add-to-cart {

        padding: 0 50px !important;
    }
}




@media (max-width:500px) {
    section {
        margin-top: 50px;
    }

    .center-main-continner {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;

    }

    .main-img {
        width: 100% !important;
        border-radius: 15px;
    }

    .image {
        width: 90px;

    }

    .main-product-img-div {
        margin: 50px 0;
    }

    .detils-of-product-div {
        width: 100% !important;
    }

    .nav-buttons-list {
        display: none !important;
    }
}